* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(99, 70, 41);
  color: white;
}

.container {
  border: 4px solid rgb(156, 110, 72);
  padding: 2rem;
  border-radius: 0.4rem;
  box-shadow: 5px 5px 5px rgb(156, 110, 72);
}

h1 {
  text-align: center;
}

label {
  display: inline-block;
  width: 150px;
  margin-bottom: 4px;
}

input {
  margin: 0.8rem 0;
}
button {
  display: block;
  margin: 1.1rem auto;
  padding: 1rem 1.1rem;
  font-size: 0.9rem;
  background-color: rgb(154, 143, 172);
  color: white;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}
button:hover {
  background-color: rgb(143, 104, 104);
}

#password {
  margin: 10px 0;
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}